<IfModule mod_rewrite.c>
	AddDefaultCharset utf-8

	<IfModule mod_negotiation.c>
		Options Indexes FollowSymLinks MultiViews
    </IfModule>
	
	<FilesMatch "\.(db|log|sql|ini|cache)$">
		Order allow,deny
		Deny from all
		Satisfy all
	</FilesMatch>
	
	<Files .env>
		Order allow,deny
		Deny from all
	</Files>
	
	<Files .htaccess>
		Order allow,deny
		Deny from all
	</Files>
	
	<FilesMatch "^\.">
		Order allow,deny
		Deny from all
	</FilesMatch>
	
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ ./index.php [QSA,L]
</IfModule>