<div class="TableContentContainer">
	<table class="TableContent" width="100%" style="border:1px solid #faf0d7;">
		<tbody>
			<tr>
				<td style="padding-right: 10px;" colspan="6">
					<small>
						<div style="float: left;">
							<b>» Pages:
								{{ links|raw }}
							</b>
						</div>
						<div style="float: right;">
							<b>» Results: {{ total }}</b>
						</div>
					</small>
				</td>
			</tr>
		</tbody>
	</table>
</div>
